<%= form_for @post, class: "form-horizontal", html: { multipart: true }, remote: true do |f| %>
    <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @post.errors.full_messages.each do |err| %>
                <li><%= err %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= render "shared/form", f: f %>
    <div>
      <%= f.submit "Add", class: "btn btn-primary" %>
    </div>

<% end %>