<div class="form_wrapper">
<%= render 'posts/form_ajax' %>
</div>

<hr/>
<div class="result"><p></p></div>

<div class="posts_wrapper">
<%= render 'posts/post', posts: @posts %>
</div>
  <% content_for :javascripts do %>
      <%= javascript_include_tag 'index_page' %>
  <% end %>
