<div class="row">
  <div class="col-md-3">
    <div class="form_wrapper">
      <%= render 'posts/form_ajax' %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="posts_wrapper">
      <%= render 'posts/post', posts: @posts %>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'index_page' %>
<% end %>
